
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    box-sizing: border-box;
    }

#page-content {
    transition: filter 0.1s ease;
    display: grid;
    grid-template-columns: 350px 1fr;
    box-sizing: border-box;
    margin-right: 20px;
}

.left-colomn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}
.right-colomn {
    display: grid;
    grid-template-rows: max-content ;
    margin: 10px 20px;
    padding: 30px 10px;
}



#page-content.blur {
    filter: blur(1px);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 999;
}


.card-task-lists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 8px;
}
.card-task {
    display: grid;
    max-width:300px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
}

.first{
    background-color: rgb(208, 214, 145);
}
.second {
    background-color: rgb(178, 149, 192);

}

.third {
    background-color: rgb(153, 194, 185);
}

.tree{
    margin: 10px;
    padding: 20px;
}

.tree-header {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 10px;

}

.title-img {
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.tree-body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 30px;
}

.tree-body .vertical-line {
    border: 2px solid gray;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2;
}
.tree-body .tree-body-title {
    display: flex;
    padding: 20px;
}
.tree-body .tree-body-title .horizental-line {
    width: 30px;
    position: absolute;
    left: 0;
    background-color: gray;
}
.tree-body .tree-body-title .tree-title {
    margin-left: 30px;
    margin-top: -2px;
    transition: var(--transition);
}


/* RIGHT COLOUM */
.header {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
}

.header-title ul{
    list-style: none;  
    display: flex;
    padding: 0;
    margin-top: 20px;
    gap: 5px;  
}

.header-title li {
    cursor: pointer;
}

.header-title li :hover {
    color: gray;
}

.header-title li :active{
    color: rgb(8, 126, 199);  
}
.header-title .active {
    color: rgb(8, 126, 199);
}

.search {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    margin-top: 20px;
    gap: 5px;

}

.header-title .category {
    display: flex;
    gap: 10px;
    list-style: none;
}
.search .searchbar{
    display: flex;
    align-items: center;
    justify-items: center;
    appearance: none;
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 10px 10px;
    
    
}
.search .searchbar input {
    border: none;
    appearance: none;
}
.search .searchbar input[type="text"]:focus {
    outline: none;
}

.search .add-task button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: rgb(7, 89, 139);
    cursor: pointer;
}

.card-task-header {
    display: flex;
    align-items: center;
    justify-content: space-between
}
.task-header-title {
    display: flex;
    align-items: center;
    gap: 5px;
}
.task-header-title h4 {
    font-size: 18px;
}
.task-edit-delete-icon {
    cursor: pointer;
}
.card-task-description {
    display: block;
    unicode-bidi: isolate;
    font-size: 16px;
    font-weight: 300;
}


/* Form Container */

.task-form {
    position: relative;
    background-color: white;
    max-width: 300px;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    border: 0.5px solid gray;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
}
.task-form-close {
    position: absolute;
    top: 10px;
    background-color: white;
    border: none;
    right: 15px;
    font-size: 20px;
    cursor: pointer;

}

.task-title, .task-description, .task-date {
    width: 100%;
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 10px 4px;
    margin: 8px 0;
}

form .submit-button {
    color: white;
    background-color: rgb(7, 89, 139);
    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0.5px solid rgb(7, 89, 139);
    border-radius: 5px;
    cursor: pointer;
}

